Submit-block ::= {
    contact {
      contact {
        name name {
          last "Doe",
          first "John",
          middle "J",
          initials "J.D."
        },
        affil std {
          affil "The Institute",
          city "Commonwealth",
          sub "MA",
          country "USA",
          street "31459 Infinity Dr",
          postal-code "02114"
        }
      }
    },
    cit {
      authors {
        names std {
          {
            name name {
              last "Author",
              first "One",
              middle "the",
              initials "O.A."
            }
          },
          {
            name name {
              last "Author",
              first "Two",
              middle "the",
              initials "T.A."
            }
          },
          {
            name name {
              last "Author",
              first "Last",
              middle "the",
              initials "L.A."
            }
          }
        },
        affil std {
          affil "The Institute",
          city "Commonwealth",
          sub "MA",
          country "USA",
          street "31459 Infinity Dr",
          postal-code "02114"
        }
      },
      medium other,
      date std {
        year 2018,
        month 3,
        day 15
      }
    }
}
Seqdesc ::= source {
              org {
                taxname "Mycoplasma genitalium G37",
                db {
                  {
                    db "ATCC",
                    tag id 33530
                  },
                  {
                    db "taxon",
                    tag id 243273
                  }
                },
                orgname {
                  name binomial {
                    genus "Mycoplasma",
                    species "genitalium"
                  },
                  attrib "specified",
                  mod {
                    {
                      subtype strain,
                      subname "G-37"
                    },
                    {
                      subtype old-name,
                      subname "Mycoplasma genitalium G-37",
                      attrib "(2)strain=G-37"
                    },
                    {
                      subtype other,
                      subname "strain coidentity: G37 = ATCC 33530"
                    }
                  },
                  lineage "Bacteria; Tenericutes; Mollicutes;
 Mycoplasmataceae; Mycoplasma",
                  gcode 4,
                  div "BCT"
                }
              }
}
Seqdesc ::= molinfo {
  biomol genomic,
  completeness complete
}
