Submit-block ::= {
    contact {
      contact {
        name name {
          last "Fraser",
          first "Claire",
          middle "M",
          initials "C.M."
        },
        affil std {
          affil "The Institute for Genomic Research",
          city "Rockville",
          sub "MD",
          country "USA",
          street "9712 Medical Center Dr",
          postal-code "20850"
        }
      }
    },
    cit {
      authors {
        names std {
          {
            name name {
              last "Fraser",
              first "Claire",
              middle "M",
              initials "C.M."
            }
          },
          {
            name name {
              last "Gocayne",
              first "Jeannine",
              middle "D",
              initials "J.D."
            }
          },
          {
            name name {
              last "White",
              first "Owen",
              initials "O."
            }
          },
          {
            name name {
              last "Adams",
              first "Mark",
              middle "D",
              initials "M.D."
            }
          },
          {
            name name {
              last "Clayton",
              first "Rebecca",
              middle "A",
              initials "R.A."
            }
          },
          {
            name name {
              last "Fleischmann",
              first "Robert",
              middle "D",
              initials "R.D."
            }
          },
          {
            name name {
              last "Bult",
              first "Carol",
              middle "J",
              initials "C.J."
            }
          },
          {
            name name {
              last "Kerlavage",
              first "Anthony",
              middle "R",
              initials "A.R."
            }
          },
          {
            name name {
              last "Sutton",
              first "Granger",
              middle "G",
              initials "G.G."
            }
          },
          {
            name name {
              last "Kelley",
              first "Jenny",
              middle "M",
              initials "J.M."
            }
          },
          {
            name name {
              last "Fritchman",
              first "Janice",
              middle "L",
              initials "J.L."
            }
          },
          {
            name name {
              last "Weidman",
              first "Janice",
              middle "F",
              initials "J.F."
            }
          },
          {
            name name {
              last "Small",
              first "Keith",
              middle "V",
              initials "K.V."
            }
          },
          {
            name name {
              last "Sandusky",
              first "Mina",
              initials "M."
            }
          },
          {
            name name {
              last "Fuhrmann",
              first "Joyce",
              middle "L",
              initials "J.L."
            }
          },
          {
            name name {
              last "Nguyen",
              first "David",
              middle "T",
              initials "D.T."
            }
          },
          {
            name name {
              last "Utterback",
              first "Teresa",
              initials "T."
            }
          },
          {
            name name {
              last "Saudek",
              first "Deborah",
              middle "M",
              initials "D.M."
            }
          },
          {
            name name {
              last "Phillips",
              first "Cheryl",
              middle "A",
              initials "C.A."
            }
          },
          {
            name name {
              last "Merrick",
              first "Joseph",
              middle "M",
              initials "J.M."
            }
          },
          {
            name name {
              last "Tomb",
              first "Jean-F",
              initials "J.-F."
            }
          },
          {
            name name {
              last "Dougherty",
              first "Brian",
              middle "A",
              initials "B.A."
            }
          },
          {
            name name {
              last "Bott",
              first "Kennith",
              middle "F",
              initials "K.F."
            }
          },
          {
            name name {
              last "Hu",
              first "Pan",
              middle "C",
              initials "P.C."
            }
          },
          {
            name name {
              last "Lucier",
              first "Thomas",
              middle "S",
              initials "T.S."
            }
          },
          {
            name name {
              last "Peterson",
              first "Scott",
              middle "N",
              initials "S.N."
            }
          },
          {
            name name {
              last "Smith",
              first "Hamilton",
              middle "O",
              initials "H.O."
            }
          },
          {
            name name {
              last "Venter",
              first "J",
              middle "Craig",
              initials "J.C."
            }
          }
        },
        affil std {
          affil "The Institute for Genomic Research",
          city "Rockville",
          sub "MD",
          country "USA",
          street "9712 Medical Center Dr",
          postal-code "20850"
        }
      },
      medium other,
      date std {
        year 1995,
        month 10,
        day 29
      }
    }
}
Seqdesc ::= source {
              org {
                taxname "Mycoplasma genitalium G37",
                db {
                  {
                    db "ATCC",
                    tag id 33530
                  },
                  {
                    db "taxon",
                    tag id 243273
                  }
                },
                orgname {
                  name binomial {
                    genus "Mycoplasma",
                    species "genitalium"
                  },
                  attrib "specified",
                  mod {
                    {
                      subtype strain,
                      subname "G-37"
                    },
                    {
                      subtype old-name,
                      subname "Mycoplasma genitalium G-37",
                      attrib "(2)strain=G-37"
                    },
                    {
                      subtype other,
                      subname "strain coidentity: G37 = ATCC 33530"
                    }
                  },
                  lineage "Bacteria; Tenericutes; Mollicutes;
 Mycoplasmataceae; Mycoplasma",
                  gcode 4,
                  div "BCT"
                }
              }
}
Seqdesc ::= molinfo {
  biomol genomic,
  completeness complete
}
Seqdesc ::= pub {
              pub {
                pmid 7569993,
                article {
                  title {
                    name "The minimal gene complement of Mycoplasma genitalium."
                  },
                  authors {
                    names std {
                      {
                        name name {
                          last "Fraser",
                          initials "C.M."
                        }
                      },
                      {
                        name name {
                          last "Gocayne",
                          initials "J.D."
                        }
                      },
                      {
                        name name {
                          last "White",
                          initials "O."
                        }
                      },
                      {
                        name name {
                          last "Adams",
                          initials "M.D."
                        }
                      },
                      {
                        name name {
                          last "Clayton",
                          initials "R.A."
                        }
                      },
                      {
                        name name {
                          last "Fleischmann",
                          initials "R.D."
                        }
                      },
                      {
                        name name {
                          last "Bult",
                          initials "C.J."
                        }
                      },
                      {
                        name name {
                          last "Kerlavage",
                          initials "A.R."
                        }
                      },
                      {
                        name name {
                          last "Sutton",
                          initials "G."
                        }
                      },
                      {
                        name name {
                          last "Kelley",
                          initials "J.M."
                        }
                      },
                      {
                        name name {
                          last "Fritchman",
                          initials "R.D."
                        }
                      },
                      {
                        name name {
                          last "Weidman",
                          initials "J.F."
                        }
                      },
                      {
                        name name {
                          last "Small",
                          initials "K.V."
                        }
                      },
                      {
                        name name {
                          last "Sandusky",
                          initials "M."
                        }
                      },
                      {
                        name name {
                          last "Fuhrmann",
                          initials "J."
                        }
                      },
                      {
                        name name {
                          last "Nguyen",
                          initials "D."
                        }
                      },
                      {
                        name name {
                          last "Utterback",
                          initials "T.R."
                        }
                      },
                      {
                        name name {
                          last "Saudek",
                          initials "D.M."
                        }
                      },
                      {
                        name name {
                          last "Phillips",
                          initials "C.A."
                        }
                      },
                      {
                        name name {
                          last "Merrick",
                          initials "J.M."
                        }
                      },
                      {
                        name name {
                          last "Tomb",
                          initials "J.F."
                        }
                      },
                      {
                        name name {
                          last "Dougherty",
                          initials "B.A."
                        }
                      },
                      {
                        name name {
                          last "Bott",
                          initials "K.F."
                        }
                      },
                      {
                        name name {
                          last "Hu",
                          initials "P.C."
                        }
                      },
                      {
                        name name {
                          last "Lucier",
                          initials "T.S."
                        }
                      },
                      {
                        name name {
                          last "Peterson",
                          initials "S.N."
                        }
                      },
                      {
                        name name {
                          last "Smith",
                          initials "H.O."
                        }
                      },
                      {
                        name name {
                          last "Hutchison",
                          initials "C.A.",
                          suffix "III"
                        }
                      },
                      {
                        name name {
                          last "Venter",
                          initials "J.C."
                        }
                      }
                    },
                    affil str "Institute for Genomic Research, Rockville, MD
 20850, USA."
                  },
                  from journal {
                    title {
                      iso-jta "Science",
                      ml-jta "Science",
                      issn "0036-8075",
                      name "Science (New York, N.Y.)"
                    },
                    imp {
                      date std {
                        year 1995,
                        month 10,
                        day 20
                      },
                      volume "270",
                      issue "5235",
                      pages "397-403",
                      language "eng",
                      pubstatus ppublish,
                      history {
                        {
                          pubstatus pubmed,
                          date std {
                            year 1995,
                            month 10,
                            day 20
                          }
                        },
                        {
                          pubstatus medline,
                          date std {
                            year 1995,
                            month 10,
                            day 20,
                            hour 0,
                            minute 1
                          }
                        },
                        {
                          pubstatus other,
                          date std {
                            year 1995,
                            month 10,
                            day 20,
                            hour 0,
                            minute 0
                          }
                        }
                      }
                    }
                  },
                  ids {
                    pubmed 7569993
                  }
                }
              }
}
